@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

html,
body {
	scroll-behavior: smooth;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

@font-face {
	font-family: 'Inconsolata';
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/dmmono/v10/aFTU7PB1QTsUX8KYthqQBA.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
	font-family: "Inconsolata", monospace;
	font-size: clamp(0.7rem, 3.5vw, 1rem);
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

#consoleWrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: left;
	background-color: rgba(51, 51, 51, 0.95);
	border-radius: 9px;
	padding-top: 0.5%;
}

#divConsole {
	background-color: #0C0C0C;
	color: #AEAEAE;
	overflow-y: overlay;
	overflow-x: hidden;
	font-family: "Inconsolata", monospace;
	font-size: clamp(0.7rem, 3.5vw, 1rem);
	width: 90vw;
	max-width: 1200px;
	aspect-ratio: 16 / 9;
	max-height: 90vh;
	padding: 20px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	box-sizing: border-box;
}

#tab {
	background-color: #0C0C0C;
	color: white;
	width: fit-content;
	border-top-left-radius: 0.6rem;
	border-top-right-radius: 0.6rem;
	padding: 0.75%;
	padding-left: 1.2%;
	display: flex;
	align-items: center;
	justify-content: left;
	gap: 0.25em;
	font-family: system-ui;
	font-size: clamp(0.5rem, 3vw, 0.8rem);
	font-weight: 350;
	margin-left: 2%;
	white-space: pre;
}

#icon {
	width: 1em;
	height: 1em;
}


#divConsole::-webkit-scrollbar {
	width: calc(0.25rem + 8px);
	background-color: transparent;
}

#divConsole::-webkit-scrollbar-thumb {
	background-color: #AEAEAE;
	border: 4px solid transparent;
	border-radius: 1rem;
	background-clip: content-box;
}

#divConsole::-webkit-scrollbar-track {
	background-color: transparent;
}

#divConsole::-webkit-scrollbar-track-piece:start {
	margin-top: 2px;
}

#divConsole::-webkit-scrollbar-track-piece:end {
	margin-bottom: 2px;
}

.attributions {
	position: absolute;
	display: flex;
	justify-content: space-between;
	bottom: 0;
	left: 0;
	width: 100vw;
	gap: 10px;
	flex-wrap: wrap;
}

#googleEarthView,
#attribution {
	width: fit-content;
	color: white;
	padding: 10px;
	display: flex;
	gap: 10px;
	font-weight: bold;
	border-radius: 2px;
	font-size: 0.9rem;
}

#googleEarthView a {
	color: #013481;
}

input[type="text"] {
	background-color: transparent;
	border: 0px;
	outline: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	color: #AEAEAE;
	font-family: "Inconsolata", monospace;
	font-size: clamp(0.7rem, 3.5vw, 1rem);
}

img {
	height: 1rem;
	width: 1rem;
	border-radius: 1rem;
}

pre {
	font-family: "Inconsolata", monospace;
	color: #AEAEAE;
	font-size: clamp(0.7rem, 3.5vw, 1rem);
}

.project {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 0.5rem;
	padding-bottom: 1rem;
	padding-top: 0.5rem;
}

.project-notTypable {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 0.1rem;
	padding-bottom: 1rem;
	padding-top: 0.5rem;
}

.project-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.help-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.flex-row {
	display: flex;
	flex-direction: row;
	justify-content: left;
	align-items: center;
}

.flex-col {
	display: flex;
	flex-direction: column;
	justify-content: left;
	align-items: left;
}

.wrapped {
	display: block;
	white-space: normal;
}

.hoverable-div {
	cursor: pointer;
}

.text-error {
	color: #E74856;
	display: block;
	white-space: normal;
}

.text-command {
	color: #F9F1A5;
}

.text-input-previous-command {
	color: #F9F1A5 !important;
}

.text-green {
	color: #7BE748;
}

.text-input-command {
	width: 100%;
	outline: none;
}

.text-blue {
	color: #48C1E7;
}

.text-link {
	color: #48C1E7;
	text-decoration: underline;
	display: block;
	white-space: normal;
}

.text-title {
	font-weight: 600;
	color: #AEAEAE;
	display: block;
	white-space: normal;
}

@media (max-width: 730px) {

	body {
		align-items: start;
		padding-top: 20px;
	}

	#divConsole {
		aspect-ratio: 13 / 18;
	}

	#consoleWrapper {
		height: 75vh;
	}

	#attribution,
	#googleEarthView {
		width: 100vw;
		font-size: 0.7rem;
	}

}

@media (max-width: 900px) {

	#divConsole {
		aspect-ratio: 13 / 14;
		height: 75vh;
		max-height: 80vh;
	}

}

@media (max-width: 1500px) {

	#divConsole {
		height: 75vh;
		max-height: 80vh;
	}

}